// Specific CSS for your home-page
.container img {
  max-width: 800px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  font-size: 20px;
  padding-top: 10px;
}

#edit-canvas {
  display: flex;
  align-items: center;
  justify-content: right;
}

#furniture-info {
  background-color: #07A2BF;
  color: #fff;
}
