// Specific CSS for your home-page
.first-container img {
  max-width: 800px;
  margin-bottom: 32px;
}

a {
  text-decoration: none;
  // font-size: 20px;
  padding-top: 10px;
}

#edit-canvas {
  display: flex;
  // align-items: center;
  justify-content: center;
  mix-blend-mode: multiply;
}

canvas {
  border: none !important;
}

.txt-small {
  font-size: 0.8em;
}
