<div class="popup-items d-none" data-add-item-card-target="popup">


  <div class="items">
    <div class="additem" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <%= image_tag 'add_item.svg' %>
    </div>
    <% @items.each do |item| %>
      <div class="add-item">
        <%= item.title %>
        <img src="<%= cl_image_path(item.icon.photo.key)%>">
      </div>
    <% end %>
  </div>

</div>
