<div class="banner mt-4" style="background-image: url(https://res.cloudinary.com/dvdyci2rl/image/upload/v1692937788/layouts-banner-correct_muukun.svg);">
  <div class="container">
    <h1>Clean layout Clear mind</h1>
    <br>
  </div>
</div>
