<div class="banner mt-4" style="background-image: url(https://res.cloudinary.com/dvdyci2rl/image/upload/v1692937788/layouts-banner-correct_muukun.svg);">
  <div class="container banner-message">
    <div class="banner-logo">
      <h1>Clean layout Clear mind</h1>
    </div>
    <br>
    <div class="banner-logo">
      <%= image_tag "FITIT-Logo-reverse-colors.png", style: "width: 150px; length: 150px;" %>
    </div>
  </div>
</div>
