  <div class="banner mt-4" style="background-image: url(https://res.cloudinary.com/dvdyci2rl/image/upload/v1692873607/layouts-banner_yhwn17.svg);">
    <div class="container">
      <h1>Clean layout Clean mind</h1>
      <p>Hello<p>
    </div>
  </div>
