<div class="banner" style="background-color: #07A2BF">
  <div class="d-flex justify-content-evenly">
    <div class="logo">
      <%= image_tag "FITIT-Logo-colors.png"%>
    </div>
    <div class="slogan">
      <h1>Clean Layout __ </h1>
      <h1>____ Clear Mind</h1>
      <p>Prepare the layout of your dreams</p>
    </div>
  </div>
</div>
