<div class="banner landing" style="background-color: #07A2BF">
  <div class="landing-container">
    <div class="logo landing-info">
      <%= image_tag "FITIT-Logo-colors.png"%>
    </div>
    <div class="slogan landing-info">
      <h1>Clean Layout __ </h1>
      <h1>____ Clear Mind</h1>
      <p>Prepare the layout of your dreams</p>
    </div>
  </div>
</div>
