  <div class="second-title">Feel stressed about moving in?</div>
<div class="container justify">
  <div class="content d-flex justify-content-between">
    <div class="pic-container"><%= image_tag "LandingPage-stressChars.png" %>
    </div>
    <div class="text-container p-0">
      <div class="text-wrap d-flex">
        <i class="fa-solid fa-square-check"></i>
        <p>Not sure if your furniture will fit in a new home?</p>
      </div>
      <div class="text-wrap d-flex">
        <i class="fa-solid fa-square-check"></i>
        <p>Would you like to try and fit new furniture before buying?</p>
      </div>
      <div class="text-wrap d-flex">
        <i class="fa-solid fa-square-check"></i>
        <p>Want to easily decide which furniture to throw away?</p>
      </div>
    </div>
  </div>
  <div class="btn-container">
    <div class="triangle mb-2"></div>
    <div class="triangle2"></div>
    <div class="title">Try FIT IT!!</div>
    <div class="btn center-block">
      <%= link_to 'Get started!', layouts_path, class:"btn btn-primary text-light p-3 px-5 fs-5 lp-btn" %>
    </div>
  </div>
</div>
