
<div class="shopping-cart">
  <div class="items">
      <div class="shopping-list-wrap">
        <div class="shopping-item">
          <div class="item-photo"></div>
          <div class="item-title"></div>
          <div class="item-size">
          </div>
        </div>
      </div>
  </div>
</div>
