<div class="third-title">User's voices</div>
<div class="container">
  <div class="usersvoice-wrap">
    <div class="usersvoice d-flex">
      <div class="avator"></div>
      <div class="voice">This app is amazing!This app is amazing!</div>
    </div>
    <div class="usersvoice reverse d-flex">
      <div class="avator"></div>
      <div class="voice">This is a life changing experience. It's free and super useful.</div>
    </div>
    <div class="usersvoice d-flex">
      <div class="avator"></div>
      <div class="voice">My friend recommended this app and I love it!</div>
    </div>
  </div>
  <div class="btn-container">
    <div class="btn center-block">
      <%= link_to 'Get started!', layouts_path, class:"btn btn-primary text-light p-3 px-5 fs-5" %>
    </div>
  </div>
</div>
