<div class="third-title">User's voices</div>
<div class="container">
  <div class="usersvoice-wrap">
    <div class="usersvoice d-flex">
      <div class="avator"></div>
      <div class="voice">I was anxious about moving for the first time, but this app helped me visualize the layout beforehand so I could finish the move smoothly!</div>
    </div>
    <div class="usersvoice d-flex">
      <div class="avator"></div>
      <div class="voice">My friend recommended this app and I love it! This is a life changing experience.<br>It's simple and really easy to use!</div>
    </div>
    <div class="usersvoice d-flex">
      <div class="avator"></div>
      <div class="voice">I used FIt-it when I moved to Osaka.<br>I was able to create and compare different layouts and enjoyed preparing for my move!</div>
    </div>
  </div>
  <div class="btn-container">
    <div class="btn center-block">
      <%= link_to 'Get started!', layouts_path, class:"btn btn-primary text-light p-3 px-5 fs-5" %>
    </div>
  </div>
</div>
