<div class = "wrapper">
  <div><%= render 'shared/landingbanner' %></div><br>
  <div><%= render 'shared/first_container' %></div><br>
  <div><%= render 'shared/second_container' %></div>
  <div><%= render 'shared/third_container' %></div>
</div>
