.items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  // position: relative;
}

.add-item{
  max-height: 150px;
  margin-right:0px;
  background-color: azure;
  padding: 12px;
  width: 100px;
  height: 200px;
  text-align: center;
  img {
    opacity: 1 !important;
  }
}
.add-item p {
  margin: 0;
  padding: 0;
}

#item-size {
  font-size: 13px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#item-size img {
  width:50px;
  height: 50%;
  transform: none !important;
  margin:0 auto;
}

.popup-items {
  height: 600px;
  max-height: 316px;
  overflow-y: scroll;
  background-color: dimgray;
  }


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .items {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .items {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .items {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.edit-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.plan-floor {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}


#delete-item-wrapper {
  position: relative;
}

#delete-item {
  position: absolute;
  top: 3px;
  right: 8px;
}
#delete-item a{
  font-size: 12px;
}
.additem{
  // position: absolute;
  width:70px;
  margin:0 auto;
  // left:50px;
}
