.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  a {
    text-decoration: none;
  }
}

.card-trip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
  .fa-ellipsis{
    color:#07A2BF;
    font-size: 24px;
  }
}

.card-trip > img {
  margin: 10px 0;
  height: 220px;
  width: 100%;
  object-fit: contain;
}

.icon-img-container {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info-container {
  height: 100px;
  background-color: #07A2BF;
}

.icon-info{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.btn{
  border-radius: 8px;
}
.btn:hover{
color:#07A2BF;
}
#icon img {
  height: 100px;
  padding: auto;
}

#layout-info {
  color: white;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container{
    max-width:980px;
  }
}
@media (min-width: 1400px) {
  .cards{
    grid-gap: 18px;
  }
  .card-trip{
    height:360px;
  }
  .container{
    max-width:1100px;
  }
  .card-trip > img {
    height: 240px;
  }
}
@media (min-width: 1600px) {
  .card-trip{
    height:380px;
  }
  .container{
    max-width:1240px;
  }
  .card-trip > img {
    height: 260px;
  }
}
@media (min-width: 1700px) {
  .card-trip{
    height:400px;
  }
  .container{
    max-width:1400px;
  }
  .card-trip > img {
    height: 280px;
  }
}
  @media (min-width: 1800px) {
    .card-trip{
      height:420px;
    }
    .container{
      max-width:1500px;
    }
    .card-trip > img {
      height: 300px;
    }
}
@media (min-width: 1900px) {
  .card-trip{
    height:450px;
  }
  .container{
    max-width:1600px;
  }
  .card-trip > img {
    height: 320px;
  }
}
.modal-body {
  display: flex;
}

.modal-body img {
  width: 100%;
}
