
.nav-bar{
  display: flex;
  position: relative;
  background-color: #07A2BF;
  height: 80px;
  width:300px;
  justify-content: flex-end;
  align-items: center;
  z-index: 90;
  border-radius: 10px;
  padding:12px
}

.list{
  display: flex;
  justify-content: center;
  list-style: none;
  vertical-align: center;
  margin:0;
  padding:0;
}
.list a{
  text-decoration: none;
  color:white;
  width:100%;
}
.item{
  border:none;
  font-size:32px;
  background-color: #07A2BF;
  color:white;
  padding-top:12px;
}
.item-title{
  font-size: 10px;
  padding-top:4px;
  margin:0;
}
// ↓ハンバーガーバー（３本ライン）
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  text-align: center;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}

// ↑ハンバーガーバー（３本ライン）

.hamburger-menu{
  position: absolute;
  top:15px;
  left: 20px;
  // margin: 18px;
}
.hamburger-menu input{
  display: none;
}
