.nav-bar-container {
  position: sticky;
  top:80px;
  z-index: 999;
  margin-left: 32px;
}


.nav-bar{
  display: flex;
  position: fixed;
  background-color: #07A2BF;
  height: 80px;
  width:400px;
  align-items: center;
  z-index: 90;
  border-radius: 10px;
  padding:12px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .3);
}
.space{
  margin-right:10px;
}
.list{
  display: flex;
  list-style: none;
  vertical-align: center;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
  margin:0 auto;
  padding:0;
}
.list a{
  text-decoration: none;
  color:white;
  width:100%;
}
.item:hover{
color: #232C33;
}
.item{
  border:none;
  font-size:32px;
  background-color: #07A2BF;
  color:white;
  margin:12px 4px 0;
  padding: 0;
  transition: 0.3s;
  // min-width: 70px;
}
.item-title{
  font-size: 10px;
  padding-top:4px;
  margin:0;
}
// ↓ハンバーガーバー（３本ライン）
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  text-align: center;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}

// ↑ハンバーガーバー（３本ライン）

.hamburger-menu{
  position: absolute;
  top:15px;
  left: 20px;
  // margin: 18px;
}
.hamburger-menu input{
  display: none;
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}
// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .nav-bar{
//     top:80px;
//     left:0px;
//     height: 80px;
//     width:500px;
//     padding:16px
// }
// }
// @media (min-width: 1400px) {
//   .container{
//     max-width:1100px;
//   }
// }
// @media (min-width: 1500px) {

//   .container{
//     max-width:1180px;
//   }
// }
// @media (min-width: 1600px) {

//   .container{
//     max-width:1300px;
//   }
// }
// @media (min-width: 1700px) {

//   .container{
//     max-width:1320px;
//   }
// }
