
.circle{
  border-radius: 50%;
  background-color: #4dbfd3;
  color:white;
  margin: 10px;
  width:160px;
  height:160px;
  padding:56px 0;
  display: block;
  position: relative;
  z-index: 10
}

.circle span{
  font-size: 18px;
  font-weight: bold;
}
.justify{
  justify-content: space-between;
  margin-bottom:40px;
}
.text-container{
  margin:70px 0 0 50px;
  font-size:40px;
}
.text-container .title{
  margin-bottom: 20px;
}
.title-2{
  margin-bottom: 24px;
}
.text-container span{
  font-weight: bold;
  font-size: 64px;
  margin-top: 20px;
}
.lp-btn{
  position: relative;
  overflow: hidden;
    border-bottom: solid 5px #3a595e;
    border-radius: 5px;
}

/*hoverの際にY軸に4pxずらす*/
.lp-btn:hover {
transform: translateY(4px);
}

 .lp-btn::before {
    display: block;
    position: absolute;
    top: -50%;
    left: -30%;
    transform: rotate(30deg);
    width: 70px;
    height: 120px;
    content: '';
    background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    animation: animation-btn 2s infinite linear;
}

@keyframes animation-btn {
    17% {
        left: 120%;
        opacity: 50%;
    }
    100% {
        left: 120%;
        opacity: 50%;
    }
}
