
// circleが光る

.circle{
  border-radius: 50%;
  background-color: #4dbfd3;
  color:white;
  margin: 10px;
  width:160px;
  height:160px;
  padding:56px 0;
  display: block;
  position: relative;
}

// .circle::before {
//   position: absolute;
//   content: '';
//   top: -180px;
//   left: 0px;
//   width: 30px;
//   height: 100%;
//   background-color: #fff;
//   animation: kiran 3s ease-in-out infinite;
//   opacity:0;
// }
// @keyframes kiran {
//   0% { transform: scale(0) rotate(45deg); opacity: 0; }
//   80% { transform: scale(0) rotate(45deg); opacity: 0.5; }
//   81% { transform: scale(4) rotate(45deg); opacity: 1; }
//   100% { transform: scale(50) rotate(45deg); opacity: 0; }
// }

// .circle:after {
// content:"";
// height:100%;
// width:30px;
// position:absolute;
// top:-180px;
// left:0;
// background-color: #fff;
// opacity:0;
// -webkit-transform: rotate(45deg);
// -webkit-animation: reflection 2s ease-in-out infinite;
// }

// @keyframes circle {
// 0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
// 80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
// 81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
// 100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
// }
// circleが光る↑
.circle span{
  font-size: 18px;
  font-weight: bold;
}
.justify{
  justify-content: space-between;
  margin-bottom:40px;
}
.text-container{
  margin:70px 0 0 50px;
  font-size:40px;
  line-height: 60px;
}
.text-container .title{
  margin-bottom: 30px;
}

.text-container span{
  font-weight: bold;
  font-size: 64px;
  margin-top: 20px;
}
