.furniture-info-container {
  position: fixed;
    top: 40%;
    right: 2em;
    display: flex;
    align-items: end;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .3);
    border-radius: 10px;
}


#furniture-info {
  background-color: #07A2BF;
  color: #fff;
  width: 180px;
  // position: sticky;
  // top: 145px;
  bottom: 48px;
  border-radius: 10px;
}

.item-detail-image {
  height: 125px;
  width: 100%;
  object-fit: contain;

  .item-detail-info col-8
  {
    height: 100%;
  }
}
