.banner {
  background-size: cover;
  background-position: center;
  padding: 60px 0;
}

.landing {
  height: 250px;
  padding: 20px 0;
}

.landing-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: white;
  font-family: 'MuseoModerno', monospace;
  font-size: 58px;
  font-weight: medium;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner p {
  color: white;
  font-family: 'MuseoModerno';
  font-weight: light;
  font-size: 20px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.logo img {
  width: 150px;
  height: 150px;
}

.slogan {
  padding: 30px;

}

.landing-info {
  // display: flex;
  // align-items: center
}
