.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 10px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
    margin-bottom: 0;
    width:320px;
    transition: 0.3s;
    border-radius: 10px;
  }
  .upload-photo:hover{
    background-color: #d3d3d3;
  color:#fff;
  }

.modal-body{
  text-align: center;
  width:100%;
  display: block;
  .btn{
    width:200px;
    margin-bottom:0;
  }
}

#icon .modal-body img{
  width:320px;
  height:320px;
  object-fit: contain;
  margin-bottom: 20px;
  object-position: center;
  margin-top:0;
}

.modal-body{
  margin:0 auto;
}
#additembar{
  width:352px;
}
