.category-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-item label img {
  height: 100px;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: centert;
  padding: 10px;
  padding-bottom: 0;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
  height: 100%;
  .label-text {
    height: 4em;
  }
}

.category-selector:checked + label {
  color: red !important;
  background-color: #FFC65A;
}


#snippet_category_ruby + label {
  color: #FD1015;
}

#snippet_category_ruby:checked + label {
  background-color: #FD1015;
  border-color: #FD1015;
}


#snippet_category_javascript + label {
  color: #FFC65A;
}

#snippet_category_javascript:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#snippet_category_css + label {
  color: #62DDF5;
}

#snippet_category_css:checked + label {
  background-color: #62DDF5;
  border-color: #62DDF5;
}
.modal-body input{
 background-color: white;
}
.modal-body .btn{
  background-color: #07A2BF;
  color:#fff;
}

.modal-body .btn:hover{
  background-color: #fff;
  color:#07A2BF;
}
.modal-body .url{
  display: block;
}
.modal-body #url{
  margin-bottom: 16px;
}
