.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin: 20px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 10px;
  box-shadow: inset;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
