.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin: 20px;
  border-radius: 10px;
  box-shadow: inset;
}

.transparent {
background: transparent;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-avatar {
  cursor: pointer
}


// @media (min-width: 1200px) {

// }
// @media (min-width: 1400px) {
//   .navbar{
//     max-width:1100px;
//   }
// }
// @media (min-width: 1600px) {

//   .navbar{
//     max-width:1240px;
//   }
// }
// @media (min-width: 1700px) {
//   .navbar{
//     max-width:1500px;
//   }
// }
//   @media (min-width: 1800px) {
//     .navbar{
//       max-width:1600px;
//     }
// }
// @media (min-width: 1900px) {
//   .navbar{
//     max-width:1600px;
//   }
// }
