.pic-container img{
  width:500px;
  margin-top: 60px;
}
.pic-container{
  margin:auto 0;
}
.second-title{
  text-align: center;
 padding:32px 0;
  background-color: #07A2BF;
  color:#fff;
  font-size: 60px;
}
.text-wrap{
  margin:24px 0;
  font-size: 32px;
}

.text-wrap .fa-solid{
color:#07A2BF;
margin:auto 20px;
}
.btn-container{
  text-align: center;
  margin-top: 20px;
}
.btn-container .title{
  font-size: 40px;
  font-weight: bold;
  margin:20px 0;
}
.triangle{
  margin:0 auto;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid rgb(168, 225, 233)
}
.triangle2{
  margin:0 auto;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #07A2BF;
}
