.third-title{
    text-align: center;
   padding:32px 0;
    background-color: #07A2BF;
    color:#fff;
    font-size: 60px;
  }

.voice {
  display: flex;
  align-items: center;
  font-size: 28px;
  padding:100px 32px 32px;
  border-radius: 16px;
  background-color:   white;
  border:solid 4px #07A2BF;
  color: #333333;
  margin-bottom: auto;
}
.avator{
  width:180px;
  height:180px;
  border-radius: 50%;
  display: block;
  margin:auto;
  position: absolute;
  top:-90px;
  left:0;
  right:0
}
.avator img{
  width:100%;
}
.usersvoice-wrap{
  margin:80px 0;
}
.layout-pic{
  width:40%;
  height:auto;
}
.layout-pic img{
  width:100%;
}
.usersvoice{
  margin-right:0;
  margin-top: 90px;
  width:45%;
  position: relative;
}
.usersvoices{
  justify-content: space-between;
  margin-bottom: 40px;
  padding-bottom: 70px;
  border-bottom:solid 1px rgb(168, 225, 233);
}
.reverse{
  flex-direction: row-reverse;
}
