<div class="container" id="edit-canvas"
     data-controller="layout furniture-info"
     data-layout-scale-value= "<%= layout.scale_ratio %>"
     data-layout-img-url-value="<%=cl_image_path(layout.photo.key)%>"
     data-layout-furnitures-value="<%=@items_hash.to_json %>">
    <canvas  data-download-edit-target="canvas" id="canvas" width="600" height="600" style="background-color: none; border: 1px solid #07A2BF;"></canvas>
    <%= render 'layouts/furniture_info' %>
</div>
