<div class="container" id="edit-canvas"
     data-controller="layout"
     <%# data-controller="image-scaler" %>
     data-layout-img-url-value="<%=cl_image_path(layout.photo.key)%>"
     data-layout-furnitures-value="<%=@items_hash.to_json %>">
    <canvas  data-download-edit-target="canvas" id="canvas" width="600" height="600" style="backgournd-color: white; border: 1px solid red;"></canvas>
</div>
