<div class="container">
  <canvas data-controller='layout' data-layout-img-url-value="<%=cl_image_path(@layout.photo.key)%>" id="myCanvas" width="1000" height="1000" style="border:1px solid #000000;"></canvas>
</div>
<%=cl_image_path(@layout.photo.key)%>
