<div id="furniture-info" class="d-none">
  <div class="row justify-content-center">
    <div class="col-8 my-3">
      <img src="" class="item-detail-image">
    </div>
    <div class="item-detail-info col-8">
      <h3>item title</h3>
      <p>size</p>
      <a href="" class="text-white" target="_blank">
        view product details
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </div>
  </div>
</div>
